#card12, #card13, #card14, #card15, #card16, #card17, #card18, #card19, #card110, #card111, #card112  {
	position:relative;
}
#card22, #card23, #card24, #card25, #card26, #card27, #card28, #card29, #card210, #card211, #card212  {
	position:relative;
}
#card32, #card33, #card34, #card35, #card36, #card37, #card38, #card39, #card310, #card311, #card312  {
	position:relative;
}
#card42, #card43, #card44, #card45, #card46, #card47, #card48, #card49, #card410, #card411, #card412  {
	position:relative;
}
#card52, #card53, #card54, #card55, #card56, #card57, #card58, #card59, #card510, #card511, #card512  {
	position:relative;
}