.wordsearch {
    width: 827px;
    height: 827px;
    margin: 0px;
    border: 1px solid #333;
    padding: 0 0 0 0;
}

.wordsearch14 {
    width: 772px;
    height: 772px;
    margin: 0px;
    border: 1px solid #333;
    padding: 0 0 0 0;
}

.white {
    float: left;
    width: 55px;
    height: 55px;
    background-color: #fff;
    font-size:9px;
    color:black;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    border: 1px solid #555;
}
.crossed {
    background: 
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 1px),
           rgba(0,0,0,.25) 50%,
           rgba(0,0,0,0) calc(50% + 1px),
           rgba(0,0,0,0) 100%);

}
.horzline {
    background: 
       linear-gradient(to top,
          transparent 0%, 
          transparent calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% + 1px), 
          transparent calc(50% + 1px), 
          transparent 100%);

}
.vertline {
    background: linear-gradient(to right, 
          transparent 0%, 
          transparent calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% + 1px), 
          transparent calc(50% + 1px), 
          transparent 100%);
}

.crossed.vertline {
    background: linear-gradient(to right, 
          transparent 0%, 
          transparent calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% + 1px), 
          transparent calc(50% + 1px), 
          transparent 100%),
    linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 1px),
           rgba(0,0,0,.25) 50%,
           rgba(0,0,0,0) calc(50% + 1px),
           rgba(0,0,0,0) 100%);
}
.horzline.vertline {
    background: linear-gradient(to right, 
          transparent 0%, 
          transparent calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% + 1px), 
          transparent calc(50% + 1px), 
          transparent 100%),
    linear-gradient(to top,
          transparent 0%, 
          transparent calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% + 1px), 
          transparent calc(50% + 1px), 
          transparent 100%);
}
.crossed.horzline {
    background: 
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 1px),
           rgba(0,0,0,.25) 50%,
           rgba(0,0,0,0) calc(50% + 1px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top,
          transparent 0%, 
          transparent calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% + 1px), 
          transparent calc(50% + 1px), 
          transparent 100%);

}
.crossed.horzline.vertline {
    background: 
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 1px),
           rgba(0,0,0,.25) 50%,
           rgba(0,0,0,0) calc(50% + 1px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top,
          transparent 0%, 
          transparent calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% + 1px), 
          transparent calc(50% + 1px), 
          transparent 100%),
       linear-gradient(to right, 
          transparent 0%, 
          transparent calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% - 1px), 
          rgba(0,0,0,.25) calc(50% + 1px), 
          transparent calc(50% + 1px), 
          transparent 100%);

}